<div class="sgp-border-color sgp-font-size sgp-field-round padding-3">
    <div class="rectangle-background sgp-border-color sgp-field-round padding-6v">
        <div class="container">
            <div *ngFor="let field of this.inputFieldAuth" class="row sgp-margin">
                <input type="{{field.typeInputField}}" placeholder="{{field.placeholderInputField}}" 
                    class="component-invisable-background sgp-border-color sgp-text-color sgp-focus">
                <br>
            </div>
            <div class="row sgp-margin">
                <div class="col">
                    <a *ngIf="mainButtonAuth" href="{{mainButtonAuth.redirectPath}}">
                        <input type="button" value="{{mainButtonAuth.value}}" 
                            class="component-invisable-background w-100
                                sgp-border-color sgp-text-color sgp-font-bold sgp-font-italic sgp-bth-round sgp-bth-background">
                    </a>
                </div>
            </div>
            <div class="row sgp-margin">
                <div *ngFor="let btn of this.otherButtonAuth" class="col">
                    <a href="{{btn.redirectPath}}">
                        <input type="button" value="{{btn.value}}" 
                            class="component-invisable-background w-100 h-100
                                sgp-border-color sgp-text-color sgp-font-bold sgp-font-italic sgp-bth-round sgp-bth-background"
                            [style]="btn.style">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>