@import url('../app.component.css');

.sgp-margin {
    margin-top: 10vh;
    margin-left: 20vw;
}

.sgp-font-size-user-card {
    font-size: 12vh;
}

.sgp-font-normail {
    font-style: normal;
}

.sgp-text-decoration {
    text-decoration: underline;
}

.padding-3 {
    padding: 3px;
}

.padding-3v {
    padding: 3vh;
}

.sgp-margin-bottom {
    margin-bottom: 1vh;
}

.sgp-w-20 {
    width: 20%;
}

.sgp-w-80 {
    width: 80%;
}

.sgp-text-align-center {
    text-align: center;
}