<div class="fixed-top d-flex justify-content-center sgp-margin sgp-font-size-user-card">
    <div class="sgp-border-color sgp-field-round padding-3 sgp-margin-bottom w-50">
        <div class="sgp-border-color sgp-field-round padding-3v">
            <div class="conteiner sgp-text-color sgp-text-align-center">
                <div *ngFor="let gameRow of this.gameField" class="row">
                    <input *ngFor="let value of gameRow" type="button" value="{{value}}" (mouseover)="onMouseOverItem($event)"
                        (mouseout)="onMouseOutItem($event)" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)"
                        class="col sgp-font-bold sgp-border-color sgp-field-round component-invisable-background sgp-text-color sgp-bth-background sgp-font-jura-bold">
                </div>
            </div>
        </div>
    </div>
</div>