<div class="background">
    
    <div *ngIf="this.router.url === '/user-page'
        || this.router.url === '/info-page'
        || this.router.url === '/game-page'">
        <nav class="navbar navbar-expand-lg navbar-light component-invisable-background">
            <img src="../assets/image/sgp-logo.png" width="30">
            <div class="sgp-text-color font-logo sgp-font-header">
                SIMPLE GAME PLATFORM
            </div>
            <div class="w-75"></div>
            <a *ngIf="this.router.url !== '/game-page'" href="/log-in">
                <img src="../assets/image/log-out-icon.png" width="30">
            </a>
        </nav>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-2 sgp-sidebar-gradient">
                    <div class="d-flex flex-column align-items-center align-items-sm-start sgp-full-height">
                        <a *ngIf="this.router.url !== '/user-page'" href="/user-page"
                            class="d-flex text-decoration-none sgp-margin-bth w-100 justify-content-center">
                            <img src="../assets/image/default-user-photo.png" width="200">
                        </a>
                        <a *ngIf="this.router.url !== '/user-page'" href="/user-page"
                            class="d-flex text-decoration-none sgp-border-color sgp-margin-bth sgp-bth-background w-100 sgp-del-left-border sgp-bth-round-right">
                            <input type="button" class="fs-5 d-none d-sm-inline sgp-font-italic sgp-font-bold sgp-text-color sgp-hover w-100
                                sgp-bth-background sgp-del-left-border sgp-bth-round-right sgp-text-start" 
                                value="User page">
                        </a>
                        <a *ngIf="this.router.url !== '/info-page'" href="/info-page"
                            class="d-flex text-decoration-none sgp-border-color sgp-margin-bth sgp-bth-background w-100 sgp-del-left-border sgp-bth-round-right">
                            <input type="button" class="fs-5 d-none d-sm-inline sgp-font-italic sgp-font-bold sgp-text-color sgp-hover w-100
                                sgp-bth-background sgp-del-left-border sgp-bth-round-right" 
                                value="Information page">
                        </a>
                        <a *ngIf="this.router.url !== '/game-page'" href="/game-page"
                            class="d-flex text-decoration-none sgp-border-color sgp-margin-bth sgp-bth-background w-100 sgp-del-left-border sgp-bth-round-right">
                            <input type="button" class="fs-5 d-none d-sm-inline sgp-font-italic sgp-font-bold sgp-text-color sgp-hover w-100
                                sgp-bth-background sgp-del-left-border sgp-bth-round-right" 
                                value="Game page">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>  

