@import url(../../node_modules/@fontsource/jura/);
@import url(../../node_modules/@fontsource/inter/);

.background {
    background: linear-gradient(#004155 -50%, #000000);
    height: 100vh;
    font-family: "Inter";
}

.sgp-text-color {
    color: #00C2FF;
}

.sgp-border-color {
    border-color: #00C2FF;
    border-style: solid;
    border-width: 1px;
}

.sgp-font-size {
    font-size: 4vh;
}

.sgp-font-header {
    font-size: 3vh;
    font-family: "Jura";
    font-weight: bold;
}

.component-invisable-background {
    background-color: transparent;
}

.sgp-margin {
    margin: 2vh;
}

.sgp-font-bold {
    font-weight: bold;
}

.sgp-font-italic {
    font-style: italic;
}

.sgp-field-round {
    border-radius: 50px;
}

.sgp-bth-round {
    border-radius: 25px;
}

.sgp-bth-background {
    background: rgba(0, 21, 28, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 194, 255, 0.25);
}

.sgp-focus:focus {
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 194, 255, 0.25);
}

.sgp-hover:hover {
    outline: none;
    box-shadow: none;
}

.sgp-sidebar-gradient {
    background: linear-gradient(90deg, #000000 -50%, transparent);
}

.sgp-margin-bth {
    margin-top: 1vh;
}

.sgp-del-left-border {
    border-left: transparent;
}

.sgp-bth-round-right {
    border-radius: 0px 50px 50px 0px;
}

.sgp-full-height {
    height: 80vh;
}